{% extends 'base.html' %}
{% block title %}Readme{% endblock %}

{% block content %}
<ul>
    <li>Login in using</li>
    <ul>
    <li>user:intekhab</li><li>password:test@123</li>
    </ul>

    <li>Default "AdminRole" is assigned to "intekhab" user</li>
    <ul>Steps to verify Permission flow:
    <li>Go to Roles, "add task" and "view task" permissions are already assigned</li>

    <li>Now go back to "Home", Click on "task", you will be able to view task and create task</li>
    <li>Try removing view task/add task permission from Role "AdminRole". You won't be able to view/create task based on permission assigned</li>
    </ul>
    <li>Git repo:https://github.com/hashtag-arbaas/role_sytem</li>
    
</ul>
{% endblock %}
